# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Environment variables files
.env
*.env

# Logs
logs/
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VS Code
.vscode/

# Playwright browsers
playwright/
